<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.modesettings.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="22" />
	<uses-permission android:name="android.permission.READ_CALENDAR" />
     <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
	<uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.modesettings.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.modesettings.activity.ListRulesActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.modesettings.activity.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
 
         <activity
            android:name="com.modesetting.calendar.CalendarActivity"
             android:theme="@style/Theme.AppCompat.Translucent"
            android:screenOrientation="portrait" >
        </activity>
        <activity
        android:name="com.google.android.gms.ads.AdActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
        
        <receiver android:name="com.modesettings.util.TaskMongoOnBootReceiver" >
         <intent-filter>
            <action android:name="android.intent.action.BOOT_COMPLETED" />
         </intent-filter>
     	</receiver>
     
        <receiver android:name="com.modesettings.util.TaskMongoAlarmReceiver" >
        </receiver>

     <!-- for calendar -->
        <receiver 
            android:name="com.modesetting.calendar.CalendarChangedReceiver">
 
        <intent-filter>
           <action android:name="android.intent.action.PROVIDER_CHANGED"/>
          
           <data android:scheme="content"/>
           <data android:host="com.android.calendar"/>  
        </intent-filter>
		</receiver>
        
        
        <service android:name="com.modesettings.util.ChangeAlarmModeService" >
        </service>
        
       <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        
    </application>

    <supports-screens 
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true"
        android:anyDensity="true"/>
</manifest>